/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

.input-group {
    text-align: center;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #fe980f;
}

.btn-submit {
    background-color: #fe980f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: 0.3s;
    font-weight: 600;
}

.btn-submit:hover {
    background-color: #e68900;
}
