{% extends 'base_shop.html' %}
	
{% block content %}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="" method="post">
							{% csrf_token %}
							<input type="text" name="username" placeholder="Userame" />
							<input type="password" name="password" placeholder="Password" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
							<button name="login" type="submit" class="btn btn-default">Sign In</button>
						</form>
						<a href="{% url 'forgot_1' %}" class="forgot-password-link">Forgot password?</a>
						{% if log_message %}
        					<p style="color: red;">{{ log_message }}</p>
    					{% endif %}
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="" method="post">
							{% csrf_token %}
							<input type="text" name='username' placeholder="Name"/>
							<input type="email" name='email' placeholder="Email Address"/>
							<input type="password" name='password1' placeholder="Password"/>
							<input type="password" name='password2' placeholder="Password again"/>
							<button name="register" type="submit" class="btn btn-default">Sign Up</button>
						</form>
						{% if reg_message %}
        					<p style="color: red;">{{ reg_message }}</p>
    					{% endif %}
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
{% endblock %}