<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                    {% for i in category %}
                        {% if i.sub_bool %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#{{ i.name }}">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            {{ i.name }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{ i.name }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            {% for j in i.subcat_rn.all %}
                                                {% if 'products' in request.path %}
                                                    <li><a href="/products/filter_products/{{ i.name }}/{{ j.subname }}/">{{ j.subname }} </a></li>
                                                {% else %}
                                                    <li><a href="/home/filter/{{ i.name }}/{{ j.subname }}/">{{ j.subname }} </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% if 'products' in request.path %}
                                        <h4 class="panel-title"><a href="/products/filter_products/{{ i.name }}/">{{ i.name }}</a></h4>
                                    {% else %}
                                        <h4 class="panel-title"><a href="/home/filter/{{ i.name }}/">{{ i.name }}</a></h4>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div><!--/category-products-->
                
                    <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                {% for i,j in dct.items %}
                                    <li><a href="#"> <span class="pull-right">({{ j }})</span>{{ i }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                             <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                             <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="{{ maininfo.add.url }}" alt="" />
                    </div><!--/shipping-->
                
                </div>
            </div>