{% extends 'base_shop.html' %}
{% block content %}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{ mainitem.img.url }}" alt="" />
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								  <div class="carousel-inner">
									{% for i in images %}
										{% if forloop.first or forloop.counter0|divisibleby:3 %}
											<div class="item {% if forloop.first %}active{% endif %}">
										{% endif %}
										
										<a href=""><img src="{{ i.img.url }}" alt=""></a>
								
										{% if forloop.counter|divisibleby:3 or forloop.last %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
								

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								{% if details and details.condition %}
									<img src="{{ details.condition_img.url }}" class="newarrival" alt="" />
								{% endif %}
								<h2>{{ mainitem.items_details_rn.first.moreinfo }}</h2>
								<p>Web ID: {{ mainitem.id }}</p>
								<p><b>Rating:</b>
									<span>
										{% for i in "12345" %}
											{% if i|add:0 <= rate %}
												<i class="fas fa-star" style="color: orange;"></i>  <!-- Full Star -->
											{% else %}
												<i class="far fa-star" style="color: orange;"></i>  <!-- Empty Star -->
											{% endif %}
										{% endfor %}
									</span>
									<b>{{ rate|floatformat:1 }}</b>
								</p>
								<span>
									<span>US ${{ mainitem.price }}</span>
									<a href="{% url 'save_f' user.id mainitem.id  %}">
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										{% if mainitem.id in id_saver %}
											- Remove
										{% else %}
											Add to cart
										{% endif %}
									</button>
									</a>
								</span>
								<p><b>Availability:</b>{% if  mainitem.items_details_rn.first.availability %} In Stock{% else %} Coming Soon{% endif %}</p>
								<p><b>Condition:</b>{% if  mainitem.items_details_rn.first.condition %} New {% else %} Old{% endif %}</p>
								<p><b>Brand:</b> {{ mainitem.brand }}</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<center><li class="active"><a href="#reviews" data-toggle="tab">Reviews ({{ countt }})</a></li></center>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12" >
									<ul>
										{% for review in mainitem.reviews_rn.all %}
											<li><a href=""><i class="fa fa-user"></i>{{ review.name }}</a></li>
											<li><a href=""><i class="fa fa-clock-o"></i>{{ review.review_time }} </a></li>
											<li><a href=""><i class="fa fa-calendar-o"></i>{{ review.review_date }}</a></li>
											<li>
												<span>Rating:</span>
												{% for i in "12345"|make_list %}
													{% if forloop.counter <= review.rating %}
														<i class="fa fa-star" style="color: orange;"></i>
													{% elif forloop.counter <= review.rating|add:1 and review.rating|floatformat:1|slice:"-1" == "5" %}
														<i class="fa fa-star-half-alt" style="color: orange;"></i>
													{% else %}
														<i class="fa fa-star" style="color: lightgray;"></i>
													{% endif %}
												{% endfor %}
												<span>{{ review.rating }}</span>
											</li>
											
											<p>{{ review.message }}</p>

											{% empty %}
												<li>No reviews yet.</li>
										{% endfor %}
									</ul>
									<p>{{ mainitem.reviews_rn.message }}</p>
									<p><b>Write Your Review</b></p>
									
									<form action="#" method="post"  >
										{% csrf_token %}
										<input type="hidden" name="key" value="{{ mainitem.id }}" />
										<span>
											<input type="text" name="name" placeholder="Your Name" value="{{ name }}" />
											<input type="email" name="email" placeholder="Email Address" value="{{ email }}" />
										</span>
										<textarea name="message" required="required" placeholder="Your Message Here"></textarea>
										
										<b>Rating: 
										<div class="rating">
											<input type="radio" name="rating" value="5" id="star1" class="star" />
											<label for="star1">&#9733;</label>
											
											<input type="radio" name="rating" value="4" id="star2" class="star" />
											<label for="star2">&#9733;</label>
											
											<input type="radio" name="rating" value="3" id="star3" class="star" />
											<label for="star3">&#9733;</label>
											
											<input type="radio" name="rating" value="2" id="star4" class="star" />
											<label for="star4">&#9733;</label>
											
											<input type="radio" name="rating" value="1" id="star5" class="star" />
											<label for="star5">&#9733;</label>
										</div></b>
										<button type="submit" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
									
								</div>
							</div>
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for i in items %}
								{% if forloop.first or forloop.counter0|divisibleby:3 %}
									<div class="item {% if forloop.first %}active{% endif %}">
								{% endif %}
								{% if i.reccomend_bool %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ i.img.url }}" alt="" width="100px" height="120px"/>
													<h2>${{ i.price }}</h2>
													<p>{{ i.info }}</p>
													<a href="{% url 'save_f' user.id i.id  %}" class="btn btn-default add-to-cart">
														<i class="fa fa-shopping-cart"></i>
														{% if i.id in id_saver %}
															- Remove
														{% else %}
															Add to cart
														{% endif %}
													</a>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
								{% if forloop.counter|divisibleby:3 or forloop.last %}
									</div>  <!-- Close the row after every 3 items or at the last item -->
								{% endif %}
								{% endfor %}
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}